body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #3f43c6;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#button1 {
    background-color: #7bb13c;
    color: white;
    border-radius: 4px;
}

#button2 {
    background-color: #2962ff;
    color: white;
    border-radius: 4px;
}

#topBar {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.breadcrumb-item.active {
    font-size: 96%;
    /* Reduces font size by 10% */
    color: #848df0;
    /* Changes text color to white */
}

#dataTableContainer {
    position: relative;
    top: -50px;
}

.f32 .flag {
    vertical-align: middle;
    margin: -8px 0;
}

progress {
    width: 100%;
}


/* Style for the table */
#example {
    /* Set a solid border for the table */
    border-radius: 10px;
    /* Make the corners rounded */
    overflow: hidden;
    /* Ensures rounded corners are visible */
}

/* Optional: Style for table cells */
#example td {
    padding-left: 12px;
    /* text-transform: uppercase; */
    color: #54585c;
    font-size: small;
    font-weight: 600;
}

/* Style for the table header */
#example thead {
    background-color: #3762ff;
    color: white;
}

#example thead th {
    padding: 10px;
    /* Add some padding for better spacing */
    text-align: left;
    /* Align text to the left */
    font-weight: bold;
    /* Make the header text bold */
    font-size: small;
    border: none;
    /* Removes borders from header cells */
}


.modal-header {
    background-color: #3f51b5;
    color: white;
}

.required {
    color: red;
}


.modal-content {
    font-size: medium;
}

input::placeholder {
    font-size: small;
    color: #babec2;
    font-weight: 400;
    /* Adjust this value as needed */
}

select option {
    font-size: small;
    color: #babec2;
    font-weight: 400;
}